<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Photo Gallery</ion-title>
</ion-toolbar>
</ion-header>

<ion-content>
<ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="addPhotoToGallery(f.value)">
    <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
</ion-fab>
<form #f="ngForm">
    <ion-item>
    <ion-label position="floating">>コメント</ion-label>
    <ion-input type="text" [(ngModel)]="comment" name="comment" required></ion-input>
    </ion-item>
</form>

<ion-grid>
    <ion-row>
    <ion-col size="6"
    *ngFor="let photo of photoService.photos; index as position">
        <ion-img [src]="photo.webviewPath"></ion-img>
        {{photo.comment}}
      </ion-col>
    </ion-row>
</ion-grid>

</ion-content>
